In [1]:
import pandas as pd 
import numpy as np

In [22]:
dados = pd.read_csv("manutencao_preditiva.csv")
matriz1 = dados[["Temperatura Ar [K]","Torque [Nm]"]]
matriz2 = dados[["Velocidade Rotacao [rpm]","Torque [Nm]"]]
matriz1 = matriz1.head(10)
matriz2 = matriz2.iloc[15:26]
matriz2

    Velocidade Rotacao [rpm]  Torque [Nm]
15                      1542         48.4
16                      1311         46.6
17                      1410         45.6
18                      1306         54.5
19                      1632         32.5
20                      1375         42.7
21                      1450         44.8
22                      1581         30.7
23                      1758         25.7
24                      1561         37.3
25                      1861         23.3

In [26]:
soma1 = np.sum(matriz1)
soma2 = np.sum(matriz2)
print(soma1)
print(soma2)

Temperatura Ar [K]    2981.9
Torque [Nm]            399.1
dtype: float64
Velocidade Rotacao [rpm]    16787.0
Torque [Nm]                   432.1
dtype: float64

In [27]:
media1 = np.mean(matriz1,axis=0)
media2 = np.mean(matriz2,axis=0)
print(media1)
print(media2)

Temperatura Ar [K]    298.19
Torque [Nm]            39.91
dtype: float64
Velocidade Rotacao [rpm]    1526.090909
Torque [Nm]                   39.281818
dtype: float64

In [29]:
traspor1 = np.transpose(matriz1)
traspor2 = np.transpose(matriz2)
media3 = np.mean(traspor1, axis=1)
media4 = np.mean(traspor2, axis=1)
print(media3)
print(media4)

Temperatura Ar [K]    298.19
Torque [Nm]            39.91
dtype: float64
Velocidade Rotacao [rpm]    1526.090909
Torque [Nm]                   39.281818
dtype: float64

In [30]:
min_elementos1 = np.min(matriz1)
max_elementos1 = np.max(matriz1)
print(min_elementos1)
print(max_elementos1)

28.0
298.5

In [31]:
min_elementos2 = np.min(matriz2)
max_elementos2 = np.max(matriz2)
print(min_elementos2)
print(max_elementos2)

23.3
1861.0